<h1>Editing Book</h1>
<%= form_for(@book) do |f| %>

	<%= f.label :title,"Title" %>
	<%= f.text_field :title %><br>
	
	</br><%= f.label :category,"Body" %>
	<%= f.text_area :category %>

	<h4><%= f.submit 'Update Book' %></h4>
	
	<%= link_to "Show",book_path(@book.id) %>|<%= link_to "Back",books_path %>
	<% end %>